* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body {
  background-image: url(../img/bcck2.jpg);
}
h1 :hover {
  color: rgb(245, 87, 13);
}
#menu li a:hover {
  font-weight: 700;
  padding-bottom: 12px;
  color: rgb(252, 83, 5);
}
h2 {
  font-size: 40px;
  font-family: "Roboto";
}
#contenedor {
  margin: auto;
  width: 100%;
  border-top: 3px solid rgb(241, 239, 241);
}
#boximg {
  float: left;
  margin-top: 3%;
  margin-left: 5%;
  -webkit-box-shadow: 7px 7px 8px 2px rgb(78, 46, 8);
  -moz-box-shadow: 7px 7px 8px 2px rgb(78, 46, 8);
  box-shadow: 7px 7px 8px 2px rgb(78, 46, 8);
}
#boxdescrip {
  color: aliceblue;
  float: left;
  font-family: "Roboto";
  font-size: 22px;
  margin-left: 5%;
  margin-top: 7%;
  padding-left: 1%;
  border-top: solid 5px rgb(218, 137, 16);
  border-radius: 5px;
}
#btnpedir a {
  text-align: center;
  margin-left: 45%;
  border-radius: 5px;
  background-color: rgb(2, 2, 2);
  color: aliceblue;
  padding: 1% 4%;
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 8px 2px rgb(78, 46, 8);
  -moz-box-shadow: 0px 5px 8px 2px rgb(78, 46, 8);
  box-shadow: 0px 5px 8px 2px rgb(78, 46, 8);
}
#btnpedir :hover {
  background-color: rgb(158, 107, 13);
  -webkit-box-shadow: 0px 5px 8px 2px  rgb(78, 46, 8);
  -moz-box-shadow: 0px 5px 8px 2px  rgb(78, 46, 8);
  box-shadow: 0px 5px 8px 2px rgb(143, 85, 15);
}

