:root{
	--width: 300px;
	--padding: 10px;
	--bgcolor: rgb(52, 52, 52);
	--hovercolor: rgb(23, 23, 23);
	--width-collapsed: 50px;
}
body{
	background: url(https://cutewallpaper.org/21/black-4k-background/Black-Waves-Wallpaper-for-Desktop-4K-3840x2160-in-2019-.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 0;
	margin: 0;
	margin-left: var(--width-collapsed);
}

.body-expanded{
	margin-left: var(--width);
}
#main-container{
	color: white;
}
#sidemenu{
	background-color: var(--bgcolor);
	color: white;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
}
#sidemenu a{
	color: white;
	text-decoration: none;

}

#sidemenu #header{
	box-sizing: border-box;
	border-bottom: solid 1px var(--hovercolor);
}
#sidemenu #header #title{
	box-sizing: border-box;
	overflow: hidden;
}
#sidemenu #header #title, #sidemenu	#header #menu-btn{
	vertical-align: middle;
}
#sidemenu #header #menu-btn{
	display: inline-block;
}
#sidemenu #header #menu-btn{
	cursor: pointer;
	padding: 10px;
	width: var(--width-collapsed);
	box-sizing: border-box;
}
#sidemenu #header #menu-btn:hover{
	background-color: var(--hovercolor);
}
#sidemenu #header #menu-btn .btn-hamburger{
	background-color: #fff;
	width: 95%;
	height: 2px;
	margin: 5px 0;
}
/* Profile */
#sidemenu #profile{
	border-bottom: solid 1px var(--hovercolor);
	padding: var(--padding) 0;
	text-align: center;
}
#sidemenu #profile #photo{
	box-sizing: border-box;
	padding: var(--padding);
	margin: 0 auto;
}
#sidemenu #profile #photo img{
 	border-radius: 50%;
 	width: 90%; 
}
#sidemenu #profile #photo, #sidemenu #profile #name{
 	font-size: 18px;
 	padding: var(--padding) 0;
 	overflow: hidden;
}
/*Item*/

#sidemenu #menu-items{
	overflow: hidden;
}

#sidemenu #menu-items .item{
	width: var(--width);
}
#sidemenu #menu-items .item .icon{
	vertical-align: middle;
	overflow: hidden;
	display: inline-block;
}
#sidemenu #menu-items .item .icon{
	box-sizing: border-box;
	padding: var(--padding);
	width: var(--width-collapsed);
}
#sidemenu #menu-items .item .icon img{
	width: 70%;
}
#sidemenu #menu-items .item .icon .title{
	padding: var(--padding) 0;
}
#sidemenu #menu-items .item.separator{
	height: 1px;
	border-bottom: solid 1px var(--hovercolor);
	margin: 5px 0; 
}
.menu-expanded{
	width: var(--width);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.menu-expanded #header #title{
	display: inline-block;
	width: calc(100% - 50px);
	margin-right: -5px;
	padding: var(--padding);
}
.menu-expanded #header #title span{
	width: calc(var(--width) - var(--width-collapsed) - 5px);
	overflow: hidden;
}
.menu-expanded #profile #photo{
	width: 200px;
}
.menu-expanded #profile #name{
	width: 100%;
}
.menu-collapsed{
	width: var(--width-collapsed);
}
.menu-collapsed #header #title{
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}
.menu-collapsed #profile #name{
	display: none;
}
.menu-collapsed .item{
	width: 100px;
}

#buttonLogin{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:98px;
padding-right:96px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonLogin:hover{
	background-color:#252323;
}
#buttonHorarios{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:48px;
padding-right:50px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonHorarios:hover{
	background-color:#252323;
}


#buttonAdmin{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:40px;
padding-right:40px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonAdmin:hover{
	background-color:#252323;
}

#buttonEspacios{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:51px;
padding-right:70px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonEspacios:hover{
	background-color:#252323;
}
#buttonHabitos{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:47px;
padding-right:40px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;
}
#buttonHabitos:hover{
	background-color:#252323;
}
#buttonTutorias{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:49px;
padding-right:61px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;

}
#buttonTutorias:hover{
	background-color:#252323;
}
#buttonSalir{
text-decoration:none;
font-weight: 600;
font-size: 17px;
color:#ffffff;
margin-top: 12px;
margin-bottom: 1px;
padding-top:5px;
padding-bottom:5px;
padding-left:95px;
padding-right:107px;
background-color:#343434;
border-color: #272525;
border-width: 3px;
border-style: solid;
}
#buttonSalir:hover{
	background-color:#252323;
}
